In [1]:
# created :20250629

20250629

In [ ]:
# own code

In [ ]:
import pandas as pd

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['Delhi', 'Mumbai', 'Bangalore']
}

In [ ]:
df = pd.DataFrame(data)
print(df)